Untitled-1775113672745.n8n
{
  "updatedAt": "2026-04-02T20:23:26.432Z",
  "createdAt": "2026-04-02T07:07:58.683Z",
  "id": "x1uKRV22pEr3BfIm",
  "name": "🤖 Kyros Chatbot - Gemini + Telegram Configurado",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "03151c45-bfbf-4ae0-afb7-65efd5dae0f4",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        3168,
        1248
      ],
      "webhookId": "telegram-kyros-chatbot",
      "credentials": {
        "telegramApi": {
          "id": "oz5LgNJpVdbAiP3N",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-kyros-chatbot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c728f608-9c13-40f4-8e68-3a27a3ce363e",
      "name": "WhatsApp Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        3168,
        1552
      ],
      "webhookId": "whatsapp-kyros-chatbot"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst item = items[0].json;\nconst isTelegram = item.message !== undefined;\n\nlet platform, userId, chatId, text, name;\n\nif (isTelegram) {\n  platform = \"telegram\";\n  userId = String(item.message.from.id);\n  chatId = item.message.chat.id;\n  text = item.message.text || \"\";\n  name = item.message.from.first_name + \" \" + (item.message.from.last_name || \"\");\n} else {\n  platform = \"whatsapp\";\n  userId = item.From;\n  chatId = item.From;\n  text = item.Body || \"\";\n  name = item.ProfileName || \"Cliente\";\n}\n\nconst sessionId = platform + \"_\" + userId;\nreturn [{\n  json: { platform, userId, chatId, text: text.trim(), name: name.trim(), sessionId }\n}];"
      },
      "id": "42501970-00b9-49f3-8226-e7dbe3465621",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3424,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\n\nconst prompt = `Eres el asistente virtual de Kyros Barber, una barberia premium. Ayudas a clientes a agendar citas de forma amigable y profesional.\n\nFLUJO DE 13 PASOS:\n1. BIENVENIDA - Saluda calurosamente, presenta Kyros como barberia premium, ofrece ver servicios\n2. SERVICIOS - Muestra catalogo de servicios (cortes, barba, combos, etc.)\n3. PRECIOS - Muestra desglose: Subtotal + Comision de procesamiento + Total a pagar\n4. DETALLES - Pide descripcion opcional del corte deseado y ofrece subir hasta 5 fotos de referencia\n5. NOMBRE - Solicita nombre completo del cliente\n6. TELEFONO - Solicita telefono de 10 digitos (obligatorio)\n7. EMAIL - Solicita email para enviar recibos de pago\n8. FECHA - Muestra dias disponibles en formato carrusel de botones\n9. HORA - Calcula disponibilidad y muestra slots disponibles (considerando duracion de servicios)\n10. EMPLEADO - Muestra lista de barberos disponibles o opcion Sin preferencia\n11. RESUMEN - Muestra tarjeta visual con: Cliente, Telefono, Fecha, Hora, Servicios, Barbero, Total\n12. PAGO - Genera link de pago Stripe con el email pre-llenado\n13. CONFIRMACION - Mensaje de exito, confirmacion de cita y boton para Nueva Cita\n\nDATOS ACTUALES:\n- Sesion: ${input.sessionId}\n- Cliente: ${input.name}\n- Mensaje recibido: ${input.text}\n- Plataforma: ${input.platform}\n\nResponde como el asistente de Kyros Barber en espanol.\n\nSi el cliente dice \"hola\", \"buenas\", \"que servicios tienen\", etc., da la bienvenida y ofrece ver el catalogo.\nSi el cliente menciona un servicio especifico, confirma y pregunta si desea agregar mas.\nSi el cliente proporciona datos personales, confirmalos y continua al siguiente paso.\n\nResponde de forma natural, amigable y profesional.`;\n\nreturn [{ json: { ...input, prompt } }];"
      },
      "id": "a9cb9740-d2c9-4b78-b31b-f07a85e0ced3",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        1408
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.0-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "AIzaSyC7Boe6xSaW8foVYy47hBnM88ml4z3QGyA"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "5a613850-35aa-4975-968f-a4bacf71d17e",
      "name": "Gemini API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3920,
        1408
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst candidates = response.candidates || [];\nconst text = candidates[0]?.content?.parts?.[0]?.text || \"¡Hola! Soy el asistente de Kyros Barber. ¿En que puedo ayudarte hoy?\";\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    aiResponse: text\n  }\n}];"
      },
      "id": "908b6fdb-94fa-440e-8724-ef563c478848",
      "name": "Parse Gemini Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4176,
        1408
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.aiResponse }}",
        "additionalFields": {}
      },
      "id": "cad3ef1f-699e-44f3-aa6f-32a440dfad76",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        4432,
        1248
      ],
      "webhookId": "82ad8a31-4d9e-4428-a027-befc534931a3",
      "credentials": {
        "telegramApi": {
          "id": "oz5LgNJpVdbAiP3N",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst message = input.aiResponse;\n\n// Para WhatsApp via webhook\nconst output = {\n  To: input.chatId,\n  Body: message\n};\n\nreturn [{ json: { output, platform: input.platform } }];"
      },
      "id": "f860a3cb-5680-4d7d-a05c-2a63dc777538",
      "name": "Format WhatsApp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4432,
        1552
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json.output) }}",
        "options": {}
      },
      "id": "a1ffcf27-5e59-44c2-ae5b-92e43b9112c9",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        4672,
        1552
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Gemini API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini API": {
      "main": [
        [
          {
            "node": "Parse Gemini Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Gemini Response": {
      "main": [
        [
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Format WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format WhatsApp": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "99f34b04-a99a-49a0-91cb-3a2f26f248f9",
  "activeVersionId": null,
  "versionCounter": 14,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-04-02T07:07:58.686Z",
      "createdAt": "2026-04-02T07:07:58.686Z",
      "role": "workflow:owner",
      "workflowId": "x1uKRV22pEr3BfIm",
      "projectId": "3AVBoOhvNLVlYlO5",
      "project": {
        "updatedAt": "2026-04-02T07:03:37.894Z",
        "createdAt": "2026-04-02T06:56:42.189Z",
        "id": "3AVBoOhvNLVlYlO5",
        "name": "Emir Montalvo <emoncan27@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "d762dfb0-edc4-4271-82bc-714121e98b9e"
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}